@tailwind base;
@tailwind components;
@tailwind utilities;


.movie-card-texts {
    font-size: 0.75rem /* 12px */;
    line-height: 1rem;
    font-weight: 500;
    color: #9CA4AB;
    text-transform: uppercase;
}